*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
    
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(130deg,rgb(238, 194, 98) ,rgb(221, 148, 191));
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background-color: rgb(255, 255, 255);
    margin:100px auto 20px ;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.todo-app h2 {
    display: flex;
    align-items: center;
    margin-bottom:20px;
}

.todo-app h2 img {
    width: 40px;
    margin-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5e7e7;
    padding-left: 20px;
    margin-bottom:25px ;
    border-radius: 30px;
}
.row input {
    flex: 1;
    border:none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.row button {
    border:none;
    outline: none;
    padding:16px 50px ;
    background: red;
    color: white;
    font-size: 17px;
    border-radius: 40px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content:'';
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size:cover;
    height: 28px;
    width: 28px;
    left: 10px;
    top: 9px;
    background-position: center;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image:url(images/checked.png);
}

ul li span{
    position:absolute;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #555;
    line-height: 20px;
    text-align: center;
    top: 10px;
    border-radius: 50%;
   
}

ul li span:hover{
    background: #ebecee;
    color: rgb(15, 15, 15);
}